$side-panel-bg: #151515;
$side-panel-text: #fff;
//Fonts
@mixin headerTitle {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

@mixin header {
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

@mixin text-header {
    font-family: 'Palanquin', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

@mixin text{
    font-family: 'Palanquin', sans-serif;
    font-weight: 300;
}

@mixin mobileContent {
    padding-right: 30px;
    padding-left:10px;
    .title-header {
        font-size: 60px;
    }
    .header {
        font-size: 30px;
    }
    .textHeader {
        font-size: 18px;
    }
    .text {
        font-size: 14px;
    }
}

@mixin desktopContent {
    .title-header {
        font-size: 85px;
    }
    .header {
        font-size: 45px;
    }
    .textHeader {
        font-size: 30px;
    }
    .text {
        font-size: 20px;
    }

}