@import './reset.scss';
@import './variables.scss';

p {
    @include text;
}

.app {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
     /* width */
     ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: #454545;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: grey;
    }
}

.content-area {
    min-height: 100vh;
    background-color: rgb(196, 196, 196);
    @media screen and (min-width: 992px) {
        width: 80vw;
    }
    @media screen and (max-width: 991px) {
        width: 100vw;
    }
}