// @import './_reset.scss';
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    border: 0;
}

.app {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
}

.content-area {
    height: 100vh;
    background-color: rgb(196, 196, 196);
    @media screen and (min-width: 992px) {
        width: 80vw;
    }
    @media screen and (max-width: 991px) {
        width: 100vw;
    }
}