@import './variables.scss';
.noMatch-page {
    width: 100%;
    color: white;
    min-height: 100vh;
    background: -webkit-gradient(linear, right top, left bottom, from(#1b1b1b), to(#383838));
    background: -webkit-linear-gradient(top right, #1b1b1b, #383838);
    background: -o-linear-gradient(top right, #1b1b1b, #383838);
    background: linear-gradient(to bottom left, #1b1b1b, #383838);
    .noMatch-info {
        margin-left: 10vw;
        text-align: left;
        .title-header {
            @include title;
            font-size: 40px;
        }
        .text-header {
            @include text;
            font-size: 23px;
        }
        padding-top: 40vh;
        @media screen and (max-width: 425px) {
            @include mobileContent;
            width: auto;
            padding-left: 10px;
        }
        @media screen and (min-width: 1400px) {
            @include desktopContent;
            font-size: 30px;
        }
    }
}