@import './_variables';
.side-panel-container {
    width: 20vw;
    min-width: 250px;
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
    background-color: $side-panel-bg;
    .header-navigation {
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        top: 0;
        width: 20vw;
        min-width: 250px;
        .nav-item {
            height: 45px;
            flex: 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .home {
            background-color: #8549c8;
        }
        .linkedIn {
            background-color: #3399ff;
        }
        .github {
            background-color: #bd2033;
        }
        .resume {
            background-color: #e6831c;
        }
    }
}