@import './_variables';
@mixin headerResponsive {
    @include text-header;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.particlesCanvasStyle {
    position: fixed;
    top: 0px;
    right: 0px;
}

.side-panel-container {
    width: 20vw;
    min-width: 250px;
    height: 100%;
    min-height: 300px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
    background-color: $side-panel-bg;
    position: fixed;
    right: 0;
    @media screen and (max-width: 991px) {
        position: relative;
    }
    a {
        color: inherit;
        /* blue colors for links too */
        text-decoration: inherit;
        /* no underline */
    }
    a:hover {
        color: #8549c8;
    }
    .header-navigation {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        top: 0;
        width: 20vw;
        min-width: 250px;
        .nav-item {
            height: 45px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #0c0c0c;
        }
        .home {
            i {
                color: #b36eff;
            }
        }
        .linkedIn {
            i {
                color: #3399ff;
            }
        }
        .github {
            i {
                color: #ff213c;
            }
            
        }
        .resume {
            i {
                color: #ffdd21;
            }
        }
    }
    .content-navigation {
        @include headerResponsive;
        position: relative;
        margin-top:45px;
        .nav-item {
            padding-top: 10px;
            padding-bottom: 10px;
            cursor: pointer;
            font-size: 25px;
        }
    }
    .contact-navigation {
        @include headerResponsive;
        width: 20vw;
        min-width: 250px;
        background-color: #8549c8;
        position: absolute;
        bottom: 0;
        height: 40px;
        cursor: pointer;
        font-size: 20px;
        a:hover {
            color: white;
        }
    }
}