@import './variables.scss';
.work-page {
    min-height: 100vh;
    .exit-button{
        a:link {
            text-decoration: none;
        }
        a:visited {
            text-decoration: none;
        }
        position: fixed;
    }
    .work-page-container {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        @include text;
        color: white;
        .work-page-header {
            padding-top: 20vh;
            width: 205px;
            img {
                padding-bottom: 10px;
                width: 200px;
            }
            hr {
                height: 3px;
                background: white;
                border: none;
                margin-left: 5px;
                margin-top: -10px;
                margin-right: 0px;
            }
        }
        .position {
            line-height: 1em;
            font-size: 25px;
        }
        .position-info {
            margin-top: 5vh;
        }
        @media screen and (max-width: 425px) {
            @include mobileContent;
            width: auto;
            padding-left: 10px;
        }
        @media screen and (min-width: 1400px) {
            @include desktopContent;
            width: 70%;
            font-size: 30px;
            .position {
                line-height: 1.2em;
            }
        }
    }
}