@import './variables.scss';
.works-page {
    width: 100%;
    color: white;
    min-height: 100vh; // background: linear-gradient(to bottom left, #8588e0, #7232d8, #b933bb);
    background: -webkit-gradient(linear, right top, left bottom, from(#f33bc3), color-stop(#621bd4), to(#b933bb));
    background: -webkit-linear-gradient(top right, #f33bc3, #621bd4, #b933bb);
    background: -o-linear-gradient(top right, #f33bc3, #621bd4, #b933bb);
    background: linear-gradient(to bottom left, #f33bc3, #621bd4, #b933bb);
    .works-header {
        padding-top: 20px;
        .title-header {
            @include header;
            font-size: 35px;
            text-align: center;
            hr {
                height: .20rem;
                width: 4.5em;
                background: white;
                border: none;
                margin-left: auto;
                margin-right: auto;
                margin-top: 0.2rem;
            }
        }
        @media screen and (max-width: 425px) {
            @include mobileContent;
        }
        @media screen and (min-width: 1400px) {
            @include desktopContent;
        }
    }
    .works-content {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        .projects {
            padding-bottom: 50px;
            .text-header {
                @include text-header;
                font-size: 20px;
                text-align: left;
                hr {
                    height: 0.15em;
                    width: 5em;
                    background: white;
                    border: none;
                    margin-top: 0.1em;
                    margin-bottom: 0;
                    margin-right: 0;
                    margin-left: 0;
                }
            }
            .project-container {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                margin-top: 20px;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: space-evenly;
                -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
            }
        }
        @media screen and (max-width: 425px) {
            @include mobileContent;
        }
        @media screen and (min-width: 1400px) {
            @include desktopContent;
        }
    }
}

.project-card {
    width: 350px;
    height: 200px;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: transform 1s;
    position: relative;
    color: white;
    margin: 10px;
    @include text-header;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    /* Safari */
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    .project-title {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        font-size: 45px;
        line-height: 1em;
    }
    .project-tech {
        text-align: center;
        font-size: 15px;
        position: absolute;
        bottom: 20px;
    }
    i {
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: #ffffff73;
    }
    @media screen and (max-width: 425px) {
        @include mobileContent;
        width: 300px;
        height: 150px;
        margin: 5px;
        .project-title {
            font-size: 35px;
        }
        .project-tech {
            font-size: 12px;
        }
    }
}

.project-card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.research-card {
    width: 300px;
    height: 150px;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: transform 1s;
    position: relative;
    color: white;
    margin: 10px;
    @include text-header;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    /* Safari */
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    .research-title {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        font-size: 20px;
        line-height: 1em;
    }
    .research-date {
        text-align: center;
        font-size: 15px;
        position: absolute;
        bottom: 10px;
    }
    i {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: #ffffff73;
    }
    @media screen and (max-width: 425px) {
        @include mobileContent;
        width: 250px;
        height: 100px;
        margin: 5px;
        .research-title {
            font-size: 16px;
        }
        .research-date {
            font-size: 12px;
        }
    }
}

.research-card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}